@layer components {
    .actions-toolbar {
        display: flex;
        gap: --spacing(4);
        flex-direction: column;
        margin-block-start: --spacing(6);

        & :is(button, .btn, a.btn) {
            width: 100%;

            @variant md {
                width: auto;
            }
        }

        @variant md {
            flex-direction: row-reverse;
            align-items: center;
        }

        /* @deprecated */
        & a.back {
            @apply underline;
        }
    }
}
