.sr-lazy-skeleton > .product-item:nth-child(n+3) {
    display: none;
}

@media (min-width: 768px) {
    .sr-lazy-skeleton > .product-item:nth-child(n+3) {
        display: flex;
    }
    .sr-lazy-skeleton > .product-item:nth-child(n+4) {
        display: none;
    }
}

@media (min-width: 1024px) {
    .sr-lazy-skeleton > .product-item:nth-child(n+4) {
        display: flex;
    }
}

