/**
 * Welcome to your Hyvä Theme!
 *
 * This is the main entry file for your theme's CSS, processed by Tailwind CSS.
 *
 * If you're new to TailwindCSS, get started with the official documentation:
 * https://tailwindcss.com/
 *
 * To learn about creating a Hyvä Theme, check out the build guide:
 * https://docs.hyva.io/hyva-themes/building-your-theme/index.html
 *
 * For Hyvä-specific topics, such as merging module CSS or using design tokens,
 * please refer to the documentation:
 * https://docs.hyva.io/hyva-themes/working-with-tailwindcss/index.html
 */

@import "@hyva-themes/hyva-modules/css";
@import "tailwindcss" source(none);
@source "../../**/*.phtml";
@source "../../**/*.xml";

/* Custom styles */
@import "./base";
@import "./components";
@import "./theme";
@import "./utilities";

/* Temporary styles! */
@import "./_temp";

/* Import generated styles for Hyvä Compatible Modules and Design Tokens */
@import "./generated/hyva-source.css";
@import "./generated/hyva-tokens.css";

@theme {
    --color-bg: var(--color-white);
    --color-fg: var(--color-slate-950);
    --color-fg-secondary: var(--color-slate-600);
    --color-surface: var(--color-white);

    --color-tooltip-bg: var(--color-gray-100);
    --color-tooltip-text: var(--color-slate-950);
    --color-tooltip-border: var(--color-gray-100);
}

@utility inset-inline-end-3 {
    inset-inline-end: 0.75rem;
}
