@import "./preflight.css";
@import "./print.css";

@layer base {
    @view-transition {
        navigation: auto;
    }

    :root {
        scrollbar-color: var(--scrollthumb-color, var(--color-primary))
            var(--scrolltrack-color, #0000);
        accent-color: var(--color-primary);
        caret-color: var(--color-primary);
        interpolate-size: allow-keywords;
        --color-gray-950: #030712;
        --color-red-950: #450a0a;
        --color-green-950: #052e16;
        --color-orange-950: #431407;
        --color-blue-950: #172554;
    }

    body {
        background: var(--color-bg);
        color: var(--color-fg);
    }
}

/* For AlpineJS */
[x-cloak] {
    display: none !important;
}
