.checkout-cart-index {
    .page-title-container {
        @apply w-full xl:w-3/4 xl:ms-0 mb-[20px] lg:mb-[36px];

        .cart-clear-form {
            @apply ms-auto xl:me-10;
        }
    }

    @media (max-width: 1023px) {
        .columns {
            @apply p-0;
        }

        .cart-totals {
            @apply px-4;
        }
    }

    .cart-price {
        --price-font-size: 18px;
        color: var(--color-price, var(--color-blue-800));

        @apply font-bold;

        @variant lg {
            --price-font-size: 20px;
        }
    }

    .cataloglabel {
        @apply hidden;
    }
}
