@layer base {
    :where(form label) {
        @apply mb-2 block;
        color: var(--color-label-primary);
    }

    :where(form legend) {
        @apply text-xl mb-3;

        & + br {
            @apply hidden;
        }
    }

    :where(fieldset ~ fieldset) {
        @apply mt-8;
    }
}

/* ----- Custom styles ----- */
@layer base {
    :is([type="checkbox"], .form-checkbox) {
        @apply rounded;
    }

    :is([type="checkbox"], [type="radio"], .form-checkbox, .form-radio) {
        &:hover:not(:checked) {
            border-color: var(--color-input-border-hover);
        }
    }

    :is( input:where(:not([type])), [type="text"], [type="email"], [type="url"],
    [type="password"], [type="number"], [type="date"], [type="datetime-local"],
    [type="month"], [type="search"], [type="tel"], [type="time"], [type="week"],
    textarea, select, .form-input, .form-textarea, .form-select, .form-multiselect ) {
        &:hover {
            border-color: var(--color-input-border-hover);
        }
    }
}

/* Newsletter Form */
.form-newsletter-validate {
    .field {
        @apply mt-0;
    }

    .field.field-reserved.field-success {
        @apply mb-0;
    }

    .field {
        @apply mb-0;

        &.field-reserved {
            --reserved-space: --spacing(0);
            @apply mb-0;
        }
    }
}

/* Search Input */
#search {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}

input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"].no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
