.product-item {
    --price-font-size: 16px;
    --price-font-weight: 400;

    @variant lg {
        --price-font-size: 18px;
    }

    .price-box {
        @apply flex items-center gap-[6px];
    }

    .price-from,
    .price-to {
        --price-font-size: 1em;
    }

    & .old-price {
        --price-font-size: 14px;
    }
}

.wishlist-widget .price-box {
    & .price-label,
    & .old-price {
        @apply sr-only;
    }
}

.product-image-container {
    display: block;
    margin-inline: auto;
}
